<h2>Edit Source Search Criteria</h2>

<form action="/sources/search" method="post">
<input type="hidden" name="id" value="<%=@source.id%>"/>
<input type="hidden" name="app_id" value="<%=@source.app.id%>"/>
  <table>
  <tr><td>Offset</td><td><input name="offset"/></td><td/><td><small>Offset within current cache of object values to retrieve</small></td></tr>
  <tr><td>Limit</td><td><input name="limit"/></td><td/><td><small>Limit of data to retrieve</small></td></tr>
  <tr><td>Conditions</td><td><input name="conditions[][name]"%></td><td>value</td><td><input name="conditions[][value]"/></td></tr>
  <tr><td>(name)</td><td><input name="conditions[][name]"/></td><td>value</td><td><input name="conditions[][value]"/></td></tr>
  <tr><td>(name)</td><td><input name="conditions[][name]"/></td><td>value</td><td><input name="conditions[][value]"/></td></tr>
  </table>
<input type=submit value="Search records">
</form>
<%=link_to "Back to edit source", edit_app_source_path(@source.app, @source) %>&nbsp;
<%=link_to "Back to application", edit_app_path(@source.app) %>&nbsp;

