<h1>New user</h1>
<%=show_errors%>
<form action="<%=url('/user/create')%>" method='POST'>
	<table>
		<tr>
			<td>Login:</td>
			<td><input name='login'/></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input name='password'/></td>
		</tr>
	</table>
	<br/>
	<input type='submit' value='Add'/>
	<a href="<%=url('users')%>">Back</a>
</form>