<html>
  <head>
	<title>Rhosync Server</title>
  </head>
  <body>
	<h3>Rhosync Server v<%=Rhosync::VERSION%> running...</h3>
    <p><a href="/resque/">Resque</a></p>
	<h3>Rhosync Info</h3>
	TBD...
  </body>
</html>